<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MAG Routine Planner</title>
  <link rel="stylesheet" type="text/css" href="/css/skeleton.css" />
</head>
<body class="container">
<div class="row">
  <h1> Skills </h1>

  <h2>Create new skill</h2>
  <form action="/skills" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="event">Event</label>
    <select name="event" id="event">
      <option value="">Select an event</option>
      <option value="FX">FX</option>
      <option value="PH">PH</option>
      <option value="SR">SR</option>
      <option value="VT">VT</option>
      <option value="PB">PB</option>
      <option value="HB">HB</option>
    </select> 
    <label for="name">Difficulty</label>
    <input type="text" name="difficulty"  value="<%= skills[skills.length -1].difficulty %>">
    <label for="name">Value</label>
    <input type="text" name="value"  value="<%= skills[skills.length -1].value %>">
    <label for="name">Element group</label>
    <input type="text" name="elementGroup"  value="<%= skills[skills.length -1].elementGroup %>">
    <br>
    <br>
    <button type="submit">Submit</button>
  </form>

  <h2> Skills </h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Event</th>
      <th>Difficulty</th>
      <th>Value</th>
      <th>Element group</th>
      <th>Actions</th>
    </tr>
    <% skills.forEach(skill => {%>
      <tr >
        <td><%= skill.name %></td>
        <td><%= skill.event %></td>
        <td><%= skill.difficulty %></td>
        <td><%= skill.value %></td>
        <td><%= skill.elementGroup %></td>
        <td><button onclick="deleteSkill('<%= skill._id %>')">Delete</button> </td>
        </tr>
    <% }) %>
  </table>
</div>
</body>
</html>

<script>
  const deleteSkill = (skillId) => {
    fetch('/skills', {
      method: 'delete',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({
        skillId: skillId
      })
    }).then(data => {
      window.location.reload()
    })
  }
</script>